#wrapper {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#leftColumn {
	padding: 5px;
	width: 450px;
	float: left;
	background-color: #f6f6f6;
}

#rightColumn {
	padding: 5px;
	width: 400px;
	float: right;
	background-color: #f6f6f6;
}